* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#superga {
    background-color: red;
    height: 100vh;
}

#tommy {
    background-color: green;
    height: 100vh;
}

#converse {
    background-color: yellow;
    height: 100vh;
}

section {
    position: relative;
}

article {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


h1,
.yellow {
    text-align: center;
    font-size: 80px;
    width: 70%;
    top: 50%;
    left: 50%;
    transform: translate(+10%, -10%);
    color: yellow;
    text-transform: uppercase;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1.green {
    color: green;
    text-transform: uppercase;
}

ul {
    display: flex;
    justify-content: end;
    list-style: none;
    padding-right: 3rem;
    padding-top: 1rem;
}

li {
    font-size: 25px;
    padding: 0.5rem 1rem;
    margin: 0 1rem;
    background-color: white;
    border-radius: 100%;

}